:root {
    --base: #fff;
    --accent-hover: #6bec08;
    --accent-active: #6fba40;
    --bg-key: rgba(0, 0, 0, 0.4);
    --bg-color: #1d1d1d;
}

html {
    font-size: 10px;
    height: 100%;
    background: var(--bg-color) url("img/bg.jpg") no-repeat center/cover;
    transition: background-image 0.3s ease;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 0;
    height: 100%;
    justify-content: center;
}

.row {
    display: flex;
    gap: 0.6rem;
}

.middle { padding-left: 2.4rem;}
.bottom {padding-left: 5rem;}

.key {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 0.6rem;
    border: 2px solid transparent;
    background: var(--bg-key);
    color: var(--base);
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.8s ease;
    will-change: transform;
}

kbd {
    font-size: 2.8rem;
}

.key:hover {
    border-color: var(--accent-hover);
    transform: scale(1.05);
    cursor: pointer;
}

.playing {
    transform: translate(-3px);
    border-color: var(--accent-active);
    box-shadow: 0 0 2rem var(--accent-active), 0 0 4rem var(--accent-active);
    transition: all 0.1s ease;
}

.hint {
    order: -1;
    margin-bottom: 1rem;
    margin-top: 0;
    opacity: 0.9;
    font-weight: 600;
    text-align: center;
    color: var(--base);
    font-size: 1.4rem;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    } to {
        opacity: 0.85;
        transform: translateY(0);
    }
}

@media (max-width:600px) {
    .key {
        width: 3.8rem;
        height: 3.8rem;
        font-size: 1.3rem;
    }
    kbd {
        font-size: 1.8rem;
    }
    .middle {padding-left: 1.5rem;}
    .bottom {padding-left: 3rem;}
}